<style>
  .container {
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
  }

  .grid-space-20 {
    margin-left: -10px;
    margin-right: -10px;
  }


  .slick-slider {
      position: relative;
      display: block;
      box-sizing: border-box;
      user-select: none;
      touch-action: pan-y;
  }

@media screen and (min-width: 1200px){
  
  .lg-grid-3-items .grid-item:nth-of-type(3n+1) {
      clear: both;
  }
  .lg-grid-3-items .grid-item:nth-of-type(n) {
    clear: none;
  }

  .lg-grid-3-items .grid-item {
    width: 33.33333%;
  }
}

  
@media screen and(min-width: 992px){
  .md-grid-3-items .grid-item {
    width: 33.33333%;
  }
}


  @media screen and (min-width: 768px){
  .md-grid-3-items .grid-item:nth-of-type(3n+1) {
      clear: both;
  }
  .md-grid-3-items .grid-item:nth-of-type(n) {
    clear: none;
  }
  .sm-grid-3-items .grid-item:nth-of-type(3n+1) {
    clear: both;
  }
  .sm-grid-3-items .grid-item:nth-of-type(n) {
    clear: none;
  }

  .sm-grid-3-items .grid-item {
    width: 33.33333%;
  }
    
}

.xs-grid-2-items .grid-item:nth-of-type(odd) {
    clear: both;
}
.xs-grid-2-items .grid-item:nth-of-type(n) {
    clear: none;
}
.grid-items.slick-slider .grid-item {
    clear: none !important;
}
.grid-space-20 .grid-item {
    padding: 10px;
}
.slick-initialized .slick-slide {
  display: block;
  margin: 0
}

.xs-grid-2-items .grid-item {
    width: 50%;
}
.grid-items .grid-item {
    float: left;
    width: 100%;
}


  

/* banner content  */
  .col-banner-hover .col-relative {
    background-color: #262626;
    position: relative;
    overflow: hidden;
  }

  .banner--image:before {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 1;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);   
    transform: skew(-25deg);
    -webkit-transform: skewX(-25deg);
    cursor:pointer;
  }

  .banner--image img {
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  .banner--image img {
      width: 100%;
  }
  .slick-slide img {
      display: block;
  }

  .banner--info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 2;
    cursor: pointer;
  }

  .overflow-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 3;
  }

  .table-banner, .table-div {
    display: table;
    width: 100%;
    height: 100%;
  }

  .g-banner-carousel-2 .table-cell-banner {
    padding: 0 50px;
  }

  .table-cell-banner, .table-cell-div {
      display: table-cell;
      vertical-align: middle;
      padding: 0 15px;
  }
  .text-left {
      text-align: left;
  }

  .g-banner-carousel-2 .table-cell-banner h3 {
    color: #fff;
    font-weight: 400;
    line-height: 1.714286;
    margin: 10px 0 20px;
  }

  .col-banner-hover .col-relative:hover .banner--image:before {
    animation: effect_shine 1s;
    -webkit-animation: effect_shine 1s;
    cursor:pointer;
  }

  .col-banner-hover .col-relative:hover img {
    opacity: .3;
    -webkit-transform: scale3d(1,1,1);
    transform: translate3d(1,1,1);
  }
  
@-webkit-keyframes effect_shine {
  100% {
    left: 150%;
  }
}

@keyframes effect_shine {
  100% {
    left: 150%;
  }
}

ul.slick-dots {
  position: absolute;
  display: block;
  padding: 0;
  list-style: none;
  bottom: -55px;
  text-align: center;
}

ul.slick-dots li {
	display: inline-block;
  	padding: 0 6px;
}

ul.slick-dots li button {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    font-size: 0;
    display: block;
    padding: 0;
    border: 0;
    background-color: #E7E7E7;
    color:#E7E7E7;
}
ul.slick-dots li button:before{
    display:none;
}

ul.slick-dots li.slick-active button,
ul.slick-dots li button:hover {
    background-color: #fc4f4f;
    color: #fc4f4f;
}


button:focus {
    outline: none;
}

  
</style>



<script>
 $(document).ready(function () {
  $(".slick_slider_banner").slick({
    slidesToShow: 3,
    slidesToScroll: 3,
    infinite: true,
    arrows: false,
    dots: true,
    draggable: true,
  });
});
  
</script>


  <div class="g-banner-carousel-2 wow fadeIn" style="margin: 0px 0px 100px; visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="g-slick-slider slick_slider_banner grid-items grid-space-20 xlg-grid-3-items lg-grid-3-items md-grid-3-items sm-grid-3-items xs-grid-2-items mb-grid-1-items"> 
            <div class="grid-item col-banner-hover " style="width: 397px;" >
              <div class="col-relative">
                <div class="banner--image">
                  <img src="//globo-toro.myshopify.com/cdn/shop/files/home10-banner-01.jpg" alt="">
                </div>
                <div class="banner--info">
                  <div class="table-banner">
                    <div class="table-cell-banner text-left">
                      <h3 style="color: #ffffff;font-size: 16px;">CONTRAST COAT</h3>
                    </div>
                  </div>
              </div>
              <a href="" class="overflow-link" tabindex="0"></a>
            </div>
          </div>
          <div class="grid-item col-banner-hover" style="width: 397px;">
            <div class="col-relative">
              <div class="banner--image">
                <img src="//globo-toro.myshopify.com/cdn/shop/files/home10-banner-02.jpg" alt="">
              </div>
              <div class="banner--info">
                <div class="table-banner">
                  <div class="table-cell-banner text-left">
                    <h3 style="color: #ffffff;font-size: 16px;">BIKER JACKET WITH PADDED SHOULDER</h3>
                  </div>
                </div>
              </div>
              <a href="" class="overflow-link" tabindex="0"></a>
            </div>
          </div>
          <div class="grid-item col-banner-hover" style="width: 397px;">
            <div class="col-relative">
              <div class="banner--image">
                <img src="//globo-toro.myshopify.com/cdn/shop/files/home10-banner-03.jpg" alt="">
              </div>
              <div class="banner--info">
                <div class="table-banner">
                  <div class="table-cell-banner text-left">
                    <h3 style="color: #ffffff;font-size: 16px;">CONTRAST COAT</h3>
                  </div>
                </div>
              </div>
              <a href="" class="overflow-link" tabindex="0"></a>
            </div>
          </div>
          <div class="grid-item col-banner-hover " style="width: 397px;">
            <div class="col-relative">
              <div class="banner--image">
                <img src="//globo-toro.myshopify.com/cdn/shop/files/home10-banner-01.jpg" alt="">
              </div><div class="banner--info">
                <div class="table-banner">
                  <div class="table-cell-banner text-left">
                    <h3 style="color: #ffffff;font-size: 16px;">BIKER JACKET WITH PADDED SHOULDER</h3>
                  </div>
                </div>
              </div>
              <a href="" class="overflow-link"></a>
            </div>
          </div>
        </div>
      </div>
    </div>


{% schema %}
  {
    "name": "Banner Preview Toro",
    "settings": [],
    "presets": [
      {
      "name": "Banner Preview"
      }
    ]
  }
{% endschema %}
