

<style> 

  .container {
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
  }
  
  
  .toro_banner {
    padding-top: 12%;
    padding-bottom: 12%;
    
  }
  
  .single_banner_background {
      position: relative;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }
  .text-center {
    text-align: center;
  }
  
  .toro_only_banner h2 {
    margin: 0;
    font-size: 64px;
    color: #ffffff;
    line-height: 1;
    font-weight: 400;
    padding: 20px 30px;
  }

  @media screen and (max-width: 767px){
    .toro_only_banner h2 {
        font-size: 46px !important;
    }
    
  }
  .toro_only_banner  {
    margin: 0px 0px 50px; 
    visibility: visible; 
    animation-name: fadeIn;
  }

</style>




{% for block in section.blocks %}
    {% if block.settings.image != blank %}
      <div class="liquid-section toro_single_banner">
          <div class="toro_only_banner">
            <div class="container">
              <div class="toro_banner single_banner_background" style="display: block;background-size: cover;
                 background-position: {{block.settings.image_background_position}};background-image: url('{{ block.settings.image | img_url: "1800x", crop: "center" }}');">
              <div class="container text-center">
                <h2 style="color: {{block.settings.heading_color}};" class="text-center font-extrabold text-center ">{{ block.settings.hero_heading }}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
{% endfor %}

{% schema %}
{
   "name": "Image Banner Toro",
   "tag": "section",
   "class": "home-hero-image",
   "max_blocks": 1,
   "blocks": [{
      "type": "image",
      "name": "Image",
      "settings": [{
            "type": "header",
            "content": "Image Banner Toro"
         },
         {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
         },
         
         {
            "type": "select",
            "id": "image_background_position",
            "label": "Image Background Position",
            "options": [{
                  "value": "top",
                  "label": "Top"
               },
               {
                  "value": "center",
                  "label": "Center"
               },
               {
                  "value": "bottom",
                  "label": "Bottom"
               }
            ],
            "default": "center"
         },
        
         {
            "type": "header",
            "content": "Header Text Settings"
         },
         {
            "type": "text",
            "id": "hero_heading",
            "label": "Heading Text"
         },
         {
            "type": "color",
            "id": "heading_color",
            "label": "Heading Text Color",
            "default": "#ffffff"
         }
      ]
   }],
   "presets": [{
      "name": "Image Banner Toro",
      "category": "Image",
      "blocks": [{
         "type": "image",
         "settings": {
            "hero_heading": "REPLACE THIS TEXT"
         }
      }]
   }]
}
{% endschema %}


