{{ 'section-image-slider.css' | asset_url | stylesheet_tag }}


<div class="image-slider">
    <div class="slider-container">

        <div class="slider">

            {% for block in section.blocks %}

                <div class="slide">

                    {{ block.settings.image | image_url: width: 2048 | image_tag }}

                </div>

            {% endfor %}

        </div>

    </div>

</div>


{% schema %}
{
  "name": "Images Slider",
  "tag": "section",
  "class": "imagesSlider",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "ImagesSlider"
    }
  ],
  "max_blocks": 5,
  "blocks": [
     {
       "name": "Images",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
  ],
  "presets": [
    {
      "name": "Images Slider",
      "settings": {
        "title": "Images Slider"
      },
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ],
  "locales": {
    "en": {
      "title": "Images Slider"
    },
    "fr": {
      "title": "Diaporama"
    }
  }
}
{% endschema %}
