

<section class="image-slider">
    <h3 class="h3 text-center">
        {{section.settings.title}}
    </h3>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    {% for block in section.blocks %}

    <div class="carousel-item">
        {{ block.settings.image | image_url: width: 600 | image_tag}}
        <div class="carousel-caption d-none d-md-block">
            <h5>{{section.settings.title}}</h5>
            <button>Shop Now</button>
        </div>
    </div>
    {% endfor %}
  </div>



  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</section>

{% schema %}
    {
        "name": "Slider Customize",
        "max_blocks": 10,
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "default": "Slider title"
            }
        ],
        "blocks": [
            {
                "type": "image",
                "name": "Image",
                "settings": [
                    {
                        "type": "image_picker",
                        "id":"image",
                        "label": "Image"
                    },
                    {
                        "type": "text",
                        "id":"title",
                        "label": "Image Title"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Slider Custom",
                "category": "Image"
            }
        ]
    }
{% endschema %}
