<style>

  @media screen and (min-width: 1200px){
    .container {
        width: 1200px;
    }

    .md-grid-4-items .grid-item {
      width: 25%;
    
  }
  @media screen and (max-width: 992px){
    .container {
        width: 970p;
    }
    .md-grid-4-items .grid-item {
      width: 25%;
    
  }
  @media screen and (max-width: 768px){
    .container {
        width: 750px;
    }
    
  }

  .container {
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
  }

  .section-header {
    text-align: center;
    overflow: hidden;
    margin-bottom: 40px;
  }


  .heading-style-2:before,
  .heading-style-2:after {
    content: '';
    width: 75px;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.1);
  }

  .heading-style-2 span {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #0000001a;
    padding: 15px 50px;
    display: inline-block;
  }


  .section-header h3 {
    color: #262626;
    margin: 0 0 12px;
    font-size: 36px;
    font-weight: 400;
    position: relative;
  }

  .grid-items{
    margin-right: -15px;
    margin-left: -15px;
  }
  
  img {
    width; 100%;
    vertical-align: middle;
  }

  .grid-items .grid-item {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 100%;
    clear: none !important;
  }

  
  .product_item--title {
  	font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 10px 0;
  }
  
  .product_item--title a {
    color: #262626;
    text-decoration: none;
  }
  .product_item--title a:hover {
    color: #fc4f4f;
    transition: all 250ms ease-out;

  }

  .wrap-addto {
    display: flex;
    justify-content:center;
    align-items: center
  }
  
  .wrap-addto a:after {
  	content: attr(title);
    position: absolute;
    font-size: 9px;
    white-space: pre;
    line-height: 1;
    bottom: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 9px 12px 14px 12px;
    background-image: url("//cdn.shopify.com/s/files/1/0157/7235/2566/t/12/assets/arrow-tootitp.png?36602");
    background-position: center 105%;
    background-repeat: no-repeat;
    opacity: 0;
    color: #fff;
    border-radius: 2px;
    text-decoration:none;
  }

  .wrap-addto a {
    text-decoration: none;
    color: #262626;
  }
  
  .wrap-addto a:hover:after {
  	opacity: 1;
  }
  
  .product_item_thumbnail_action {
    position: absolute;
    width: 100%;
    top: 50%;
    height: 50px;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    z-index: 9;
  }
  
  .product_item_thumbnail_action a {
    opacity: 0;
    transform: translate(92px, 0);
    -webkit-transform: translate(92px, 0);
    transition-delay: 50ms;
  }
  
  .product_item--inner:hover .product_item_thumbnail_action a {
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
  
  .wrap-addto .globo-add-to-cart {
    transition-delay: 100ms;	
  }
  
  .wrap-addto .la-core-wishlist {
    cursor:pointer;
    transition-delay: 150ms;	
  }
  
  .wrap-addto .globo-add-to-compare {
    cursor:pointer;
    transition-delay: 200ms;	
  }
  
  .wrap-addto .globo-add-to-cart-toro {
    transition-delay: 200ms;	
  }
  

  .wrap-addto .la-quickview-button:before ,
  .wrap-addto .globo-add-to-cart-toro:before,
  .wrap-addto .la-core-wishlist:before,
  .wrap-addto .globo-add-to-compare:before,
  .wrap-addto a:before {
    font-family: FontAwesome;
    direction: ltr;
    font-size: 18px;
    height: inherit;
    line-height: inherit;
    text-align: center;
    width: inherit;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
  
  .wrap-addto .la-quickview-button:before {
    content: "\f06e";
    display: block;

  }
     
  .wrap-addto .globo-add-to-cart-toro:before {
    content: "\f07a";
    display: block;
  }
  
  .wrap-addto .la-core-wishlist:before {
    content: "\f004";
    display: block;

  
  }
  .wrap-addto .globo-add-to-compare:before {
     content: "\e4bf";
     display: block;
  }
  
  .wrap-addto a:hover {
  	color: #fff !important;
    background-color: #fc4f4f;
  }
  
  .tooltip {
  	font-family: Poppins, sans-serif;
  }
  
  .tooltip > .tooltip-inner {
  	padding: 5px;
    	background-color: #262626;
  }
  
  .tooltip.top .tooltip-arrow {
  	border-top-color: #262626;
  }
  
  .product_item--thumbnail {
  overflow: hidden;
  }
  
  .product_item--thumbnail {
      position: relative;
      z-index: 2;
  }
  .product_item--thumbnail img {
      transition: opacity 0.5s ease, transform 2s cubic-bezier(0, 0, 0.44, 1.18);
  }
  
  .product_item--thumbnail .wp-alt-image {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      transition: opacity 0.5s ease, transform 2s cubic-bezier(0, 0, 0.44, 1.18);
      opacity: 0;
  }
  
  .product_item--thumbnail:hover .wp-alt-image {
      opacity: 1;
  }


  .product_item_thumbnail_action {
    position: absolute;
    width: 100%;
    top: 50%;
    height: 50px;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    z-index: 9;
  }

  .product_item_thumbnail_action a {
    opacity: 0;
    transform: translate(92px);
    -webkit-transform: translate(92px, 0);
    transition-delay: 50ms;
  }
  .wrap-addto a {
    position: relative;
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 0;
    display: inline-block;
    margin: 5px;
    padding: 0;
    vertical-align: middle;
    background-color: #fff;
    border-radius: 50%;
    transition: all .25s ease-out;
  }

  .gpc-action {
    cursor: pointer;
    display: inline-block;
  }

    
  .wrap-addto .globo-add-to-compare, .wrap-addto .globo-add-to-cart-toro {
    transition-delay: .2s;
  }

  .product_item--info{
    position: relative;
    padding: 20px 0;
  }

  .label-product {
    position: absolute;
    z-index: 3;
    font-size: 12px;
    padding: 10px;
    line-height: 20px;
    min-width: 85px;
    text-align: center;
    background-color: #a3bc60;
    color: #fff;
    top: 0;
    right: 0;
  }

  .text-center {
    text-align: center;
  }

  .text-center h2 {
    margin: 0 0 10px;
  }

  .price {
    line-height: 20px;
    display: inline-block;
    font-size: 16px;
    color: #262626;
  }

  
</style>

<script>
$(document).ready(function () {
  $(".g-slick-products").slick({
    slidesToShow: 4,
    slidesToScroll: 4,
    infinite: true,
    autoplay: false,
    arrows: false,
    dots: true,
    draggable: true,
    responsive: [
      {
        breakpoint: 1025,
        settings: {
          dots:true,
          slidesToShow: 3,
          slidesToScroll: 3
        },
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          arrows: false,
          infinite: false,
          dots:true,
        },
      },
    ],
  });
});

</script>


<div class="g--product_carousel  wow fadeIn" style="margin: 0px 0px 100px; visibility: visible; animation-name: fadeIn;">
  <div class="container">
    <div class="section-header text-center">
      <h3 class="heading_font_family-1 heading-style-2 heading-style-3" style="font-size: 20px; letter-spacing: 2px;"><span>TOP SALE</span>
      </h3>
    </div>
    <div class="g-slick-products grid-items xlg-grid-4-items lg-grid-4-items md-grid-4-items sm-grid-3-items xs-grid-2-items mb-grid-1-items " >
            <div class="grid-item wow fadeInUp   " aria-hidden="false" style="width: 300px; visibility: visible; animation-name: fadeInUp;" tabindex="0" role="tabpanel" id="00" aria-describedby="-control00">
                <div class="product_item--inner">
                    <div class="product_item--thumbnail">
                        <div class="product_item--thumbnail-holder">
                            <a href="/collections/men/products/sleeve-button-cowl-neck" class="product__link" tabindex="0">
                            <img class="wp-post-image loading lazy" src="//globo-toro.myshopify.com/cdn/shop/products/m1-prod-1-1_grande.jpg?v=1558406919" alt="Sleeve Button Cowl Neck" style="display: block;">
                            <img class="wp-alt-image loading lazy" src="//globo-toro.myshopify.com/cdn/shop/products/m1-prod-1-4_grande.jpg?v=1558406928" alt="Sleeve Button Cowl Neck" style="display: block;">
                            </a>
                        </div>
                    <div class="product_item_thumbnail_action product_item--action">
                        <div class="wrap-addto">
                        <a href=""  class="globo-quick-view-button quickview  la-quickview-button" title="Quick view" tabindex="0"><span>Quick view</span></a>                    
                            <div class="gpw-action"><a class="add_wishlist  la-core-wishlist globo-add-to-wishlist"  title="Add to wishtlist" ><span>Add to wishtlist</span></a></div>                            
                            <div class="gpc-action"><a class="globo-add-to-compare"  title="Add to compare" ><span>Add to compare</span></a></div>
                        <a href="" class="globo-add-to-cart-toro"  title="Add to cart" >
                            <span>
                            Add to cart
                            </span>
                        </a>
                        </div>
                    </div>
                    </div>
                    <div class="product_item--info">
                    <div class="product_item--info-inner text-center">
                        <h2 class="product_item--title">
                        <a href="/collections/men/products/sleeve-button-cowl-neck" tabindex="0">Sleeve Button Cowl Neck</a>
                        </h2>
                        <span class="price"><span class="money" data-currency-usd="$36.00">$36.00</span>
                </span>
                    </div>
                    </div>
                </div>  
            </div>
              <div class="grid-item wow fadeInUp" aria-hidden="false" style="width: 300px; visibility: visible; animation-name: fadeInUp;" tabindex="0" role="tabpanel" id="01">
                <div class="product_item--inner">
                  <div class="product_item--thumbnail">
                    <div class="product_item--thumbnail-holder">
                      <a href="" class="product__link" tabindex="0">
                        <img class="wp-post-image loading lazy" src="//globo-toro.myshopify.com/cdn/shop/products/m1-prod-6-1_grande.jpg?v=1558409177" alt="Quilted parka with hood" style="display: block;">
                        <img class="wp-alt-image loading lazy" src="//globo-toro.myshopify.com/cdn/shop/products/m1-prod-6-6_grande.jpg?v=1558409186" alt="Quilted parka with hood" style="display: block;">
                      </a>
                    </div>
                    <div class="product_item_thumbnail_action product_item--action">
                      <div class="wrap-addto">
                        <a href="" data-href="" class="globo-quick-view-button quickview  la-quickview-button" title="Quick view" tabindex="0"><span>Quick view</span></a>       
                    <div class="gpw-action">
                        <a class="add_wishlist  la-core-wishlist globo-add-to-wishlist"  title="Add to wishtlist" ><span>Add to wishtlist</span></a>
                    </div>      
                    <div class="gpc-action">
                        <a class="globo-add-to-compare"  title="Add to compare" ><span>Add to compare</span></a>
                    </div>
                        <a href="" class="globo-add-to-cart-toro"  title="Add to cart" >
                          <span>
                            Add to cart
                          </span>
                        </a>
                    </div>
                  </div>
                </div>
                  <div class="product_item--info">
                    <div class="product_item--info-inner text-center">
                      <h2 class="product_item--title">
                        <a href="" tabindex="0">Quilted parka with hood</a>
                      </h2>
                      <span class="price"><span class="money" data-currency-usd="$126.00">$126.00</span>
                      </span>
                    </div>
                  </div>
                </div>  
              </div>
      <div class="grid-item wow fadeInUp  " aria-hidden="false" style="width: 300px; visibility: visible; animation-name: fadeInUp;" tabindex="0" role="tabpanel" id="02">
        <div class="product_item--inner">
          <div class="product_item--thumbnail">
            <div class="product_item--thumbnail-holder">
              <a href="" class="product__link" tabindex="0">
                <img class="wp-post-image loading lazy" src="//globo-toro.myshopify.com/cdn/shop/products/m1-prod-15-1-1200x1500_grande.jpg?v=1561382566" alt="Product Color" style="display: block;">
                <img class="wp-alt-image loading lazy" src="//globo-toro.myshopify.com/cdn/shop/products/m1-prod-12-1-1200x1500_grande.jpg?v=1561382574" alt="Product Color" style="display: block;">
              </a>
            </div>
            <div class="product_item_thumbnail_action product_item--action">
              <div class="wrap-addto">
                <a href="" class="globo-quick-view-button quickview  la-quickview-button" title="Quick view" tabindex="0"><span>Quick view</span></a>
                <div class="gpw-action">
                  <a class="add_wishlist  la-core-wishlist globo-add-to-wishlist" title="Add to wishtlist" ><span>Add to wishtlist</span></a>
                </div>
                <div class="gpc-action">
                  <a class="globo-add-to-compare"  title="Add to compare" ><span>Add to compare</span></a>
                </div>
                <a href="" class="globo-add-to-cart-toro"  title="Add to cart">
                  <span>Add to cart</span>
                </a>
              </div>
            </div>
          </div>
          <div class="product_item--info">
            <div class="product_item--info-inner text-center">
              <h2 class="product_item--title">
                <a href="" tabindex="0">Product Color</a>
              </h2>
              <span class="price"><span class="money" data-currency-usd="$68.00">$68.00</span>–<span class="money" data-currency-usd="$69.00">$69.00</span></span>
            </div>
          </div>
        </div>  
      </div>
      <div class="grid-item wow fadeInUp  " aria-hidden="false" style="width: 300px; visibility: visible; animation-name: fadeInUp;" tabindex="0" role="tabpanel" id="03">
        <div class="product_item--inner">
          <div class="product_item--thumbnail">
            <div class="product_item--thumbnail-holder">
              <a href="" class="product__link" tabindex="0">
                <img class="wp-post-image loading lazy" src="//globo-toro.myshopify.com/cdn/shop/products/m1-prod-12-1_grande.jpg?v=1558920552" alt="Nintendo Entertainment System" style="display: block;"><img class="wp-alt-image loading lazy" src="//globo-toro.myshopify.com/cdn/shop/products/m1-prod-12-6_grande.jpg?v=1558920563" alt="Nintendo Entertainment System" style="display: block;">
              </a>
            </div>
            <div class="product_item_thumbnail_action product_item--action">
              <div class="wrap-addto">
                <a href=""  class="globo-quick-view-button quickview  la-quickview-button" title="Quick view" tabindex="0"><span>Quick view</span></a>
                <div class="gpw-action"><a class="add_wishlist  la-core-wishlist globo-add-to-wishlist"  title="Add to wishtlist" ><span>Add to wishtlist</span></a></div>
                <div class="gpc-action"><a class="globo-add-to-compare"  title="Add to compare" ><span>Add to compare</span></a></div>
                <a href="" class="globo-add-to-cart-toro"  title="Add to cart" >
                  <span>Add to cart</span>
                </a>
              </div>
            </div>
            </div>
          <div class="product_item--info">
            <div class="product_item--info-inner text-center">
              <h2 class="product_item--title">
                <a href="" tabindex="0">Nintendo Entertainment System</a>
              </h2>
              <span class="price"><span class="money" data-currency-usd="$65.00">$65.00</span></span>
            </div>
          </div>
        </div>  
      </div>
      <div class="grid-item wow fadeInUp "  aria-hidden="true" style="width: 300px; visibility: visible; animation-name: fadeInUp;" tabindex="-1" role="tabpanel" id="04" aria-describedby="-control01">
        <div class="product_item--inner">
          <div class="product_item--thumbnail">
            <div class="product_item--thumbnail-holder">
              <a href="" class="product__link" tabindex="-1">
                <img class="wp-post-image loading lazy" src="//globo-toro.myshopify.com/cdn/shop/products/m1-prod-3-1_grande.jpg?v=1558407894" alt="Fashion Sneaker" style="display: block;">
                <img class="wp-alt-image loading lazy" src="//globo-toro.myshopify.com/cdn/shop/products/m1-prod-3-4_grande.jpg?v=1558407900" alt="Fashion Sneaker" style="display: block;">
              </a>
            </div>
            <div class="product_item_thumbnail_action product_item--action">
              <div class="wrap-addto">
                <a href=""  class="globo-quick-view-button quickview  la-quickview-button" title="Quick view" tabindex="-1"><span>Quick view</span></a>
                <div class="gpw-action"><a class="add_wishlist  la-core-wishlist globo-add-to-wishlist" title="Add to wishtlist" rel="nofollow" tabindex="-1"><span>Add to wishtlist</span></a></div>
                <div class="gpc-action"><a class="globo-add-to-compare"  title="Add to compare" rel="nofollow" tabindex="-1"><span>Add to compare</span></a></div>         
                <a href="" class="globo-add-to-cart-toro" rel="nofollow" tabindex="-1" title="Add to cart" >
                  <span>Add to cart</span>
                </a>
              </div>
            </div>
            </div>
          <div class="product_item--info">
            <div class="product_item--info-inner text-center">
              <h2 class="product_item--title">
                <a href="" tabindex="-1">Fashion Sneaker</a>
              </h2>
              <span class="price"><span class="money" data-currency-usd="$49.00">$49.00</span></span>
            </div>
          </div>
        </div>  
      </div>
      <div class="grid-item wow fadeInUp "  aria-hidden="true" style="width: 300px; visibility: visible; animation-name: fadeInUp;" tabindex="-1" role="tabpanel" id="05">
        <div class="product_item--inner">
          <div class="product_item--thumbnail">
            <div class="product_item--thumbnail-holder">
              <a href="" class="product__link" tabindex="-1">
                <img class="wp-post-image loading lazy" src="//globo-toro.myshopify.com/cdn/shop/products/m1-prod-9-1_grande.jpg?v=1558920056" alt="Down puffer coat with wraparound collar" style="display: block;">
                <img class="wp-alt-image loading lazy" src="//globo-toro.myshopify.com/cdn/shop/products/m1-prod-9-5_grande.jpg?v=1558920067" alt="Down puffer coat with wraparound collar" style="display: block;">
              </a>
            </div>
            <div class="product_item_thumbnail_action product_item--action">
              <div class="wrap-addto">
                <a href=""  class="globo-quick-view-button quickview  la-quickview-button" title="Quick view" tabindex="-1"><span>Quick view</span></a>  
                <div class="gpw-action"><a class="add_wishlist  la-core-wishlist globo-add-to-wishlist"  title="Add to wishtlist" rel="nofollow" tabindex="-1"><span>Add to wishtlist</span></a></div>      
                <div class="gpc-action"><a class="globo-add-to-compare"  title="Add to compare" rel="nofollow" tabindex="-1"><span>Add to compare</span></a></div>  
                <a href="" class="globo-add-to-cart-toro" rel="nofollow" tabindex="-1" title="Add to cart" onclick=" Shopify.addItem('20464103555126', 1); return false">
                  <span>Add to cart</span>
                </a>
              </div>
            </div>
            </div>
          <div class="product_item--info">
            <div class="product_item--info-inner text-center">
              <h2 class="product_item--title">
                <a href="" tabindex="-1">Down puffer coat with wraparound collar</a>
              </h2>
              <span class="price"><span class="money" data-currency-usd="$52.00">$52.00</span></span>
            </div>
          </div>
        </div>  
      </div>
      <div class="grid-item wow fadeInUp "  aria-hidden="true" style="width: 300px; visibility: visible; animation-name: fadeInUp;" tabindex="-1" role="tabpanel" id="06">
        <div class="product_item--inner">
          <div class="product_item--thumbnail">
            <div class="product_item--thumbnail-holder">
              <a href="" class="product__link" tabindex="-1">
                <img class="wp-post-image loading lazy" src="//globo-toro.myshopify.com/cdn/shop/products/m1-prod-5-1_grande.jpg?v=1558408605" alt="Double-breasted faux fur coat" style="display: block;">
                <img class="wp-alt-image loading lazy" src="//globo-toro.myshopify.com/cdn/shop/products/m1-prod-5-5_grande.jpg?v=1558408613" alt="Double-breasted faux fur coat" style="display: block;">
                <span class="label-product new">New</span>
              </a>
            </div>
            <div class="product_item_thumbnail_action product_item--action">
              <div class="wrap-addto">
                <a href=""  class="globo-quick-view-button quickview  la-quickview-button" title="Quick view" tabindex="-1"><span>Quick view</span></a>
                <div class="gpw-action"><a class="add_wishlist la-core-wishlist globo-add-to-wishlist"  title="Add to wishtlist" rel="nofollow" tabindex="-1"><span>Add to wishtlist</span></a></div>        
                <div class="gpc-action"><a class="globo-add-to-compare" title="Add to compare" rel="nofollow" tabindex="-1"><span>Add to compare</span></a></div>
                <a href="" class="globo-add-to-cart-toro" rel="nofollow" tabindex="-1" title="Add to cart" >
                  <span>Add to cart</span>
                </a>
              </div>
            </div>
            </div>
          <div class="product_item--info">
            <div class="product_item--info-inner text-center">
              <h2 class="product_item--title">
                <a href="" tabindex="-1">Double-breasted faux fur coat</a>
              </h2>
              <span class="price"><span class="money" data-currency-usd="$56.00">$56.00</span></span>
            </div>
          </div>
        </div>  
      </div>
    </div>
</div>  

{% schema %}
  {
    "name": "Top Sale Toro",
    "settings": [],
    "presets": [
      {
        "name": "Top Sale Toro"
      }
    ]
  }
{% endschema %}