.heading_title,
.table-div {
  display: table;
  width: 100%;
  height: 100%;
}

.banner_slider_toro .banner_table_cell {
  padding: 0 50px;
}

.banner_table_cell,
.table-cell-div {
  display: table-cell;
  vertical-align: middle;
  padding: 0 15px;
}

.banner_slider_toro .banner_table_cell h3 {
  color: #fff;
  font-weight: 400;
  line-height: 1.714286;
  margin: 10px 0 20px;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 400;
}

.banner_item_hover .col-banner:hover .banner_item_image:before {
  animation: effect_shine 1s;
  -webkit-animation: effect_shine 1s;
  cursor: pointer;
}

.banner_item_hover .col-banner:hover img {
  opacity: 0.3;
  -webkit-transform: scale3d(1, 1, 1);
  transform: translate3d(1, 1, 1);
}

@-webkit-keyframes effect_shine {
  100% {
    left: 150%;
  }
}

@keyframes effect_shine {
  100% {
    left: 150%;
  }
}

.banner_items.slick-slider .banner_item {
  clear: none !important;
}
.grid-space-20 .banner_item {
  padding: 10px;
}
.banner_items .banner_item {
  float: left;
}

/* banner content  */
.banner_item_hover .col-banner {
  background-color: #262626;
  position: relative;
  overflow: hidden;
}

.banner_item_image:before {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 1;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skew(-25deg);
  -webkit-transform: skewX(-25deg);
  cursor: pointer;
}

.banner_item_image img {
  width: 100%;
  height: auto;
  overflow-clip-margin: content-box;
  overflow: clip;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1);
}

.slick-slide img {
  display: block;
}

.banner_item_info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 2;
  cursor: pointer;
}
