.toro_banner {
  padding-top: 12%;
  padding-bottom: 12%;
}

.single_banner_background {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.toro_only_banner h2 {
  font-family: "Poppins";
  margin: 0;
  font-size: 64px;
  color: #ffffff;
  line-height: 1;
  font-weight: 400;
  padding: 20px 30px;
}

@media screen and (max-width: 767px) {
  .toro_only_banner h2 {
    font-size: 46px !important;
  }
}
.toro_only_banner {
  margin: 0px 0px 50px;
  visibility: visible;
  animation-name: fadeIn;
}
