.blog_post--toro {
  margin: 0px 0px 50px;
  visibility: visible;
  animation-name: fadeIn;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-header {
  text-align: center;
  overflow: hidden;
  margin-bottom: 40px;
}

article {
  display: block;
}

.blog_item {
  margin-bottom: 20px;
}

.heading_style:before,
.heading_style:after {
  content: "";
  width: 75px;
  height: 1px;
  display: inline-block;
  vertical-align: middle;
  background-color: #0000001a;
}

@media screen and (max-width: 767px) {
  .heading_style:before,
  .heading_style:after {
    display: none;
  }

  .heading_style {
    font-size: 24px !important;
  }
}

.heading_style {
  font-family: "Poppins";
  color: #262626;
  font-size: 24px !important;
  margin: 0 0 12px;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
}

.heading_style span {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #0000001a;
  padding: 15px 50px;
  display: inline-block;
}

.blog_item_image img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.blog_item_infor {
  background-color: #fff;
  padding: 20px 0;
  color: #777;
}

.blog_item_title {
  margin: 0 0 15px;
  font-weight: 600;
  font-size: 32px;
  font-family: "Alegreya", Sans-serif;
}
.blog_item_title a {
  text-decoration: none;
  color: #262626;
}
.blog_item_title:hover,
.blog_item_title a:hover {
  transition: all 0.35s ease;
  color: #fc4f4f;
}

.blog_author {
  margin-bottom: 5px;
}

.blog_author span {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 5px;
  font-size: 12px;
}

.blog_item_description {
  line-height: 1.8;
  margin-bottom: 15px;
  padding: 5px 0 10px;
  color: #777;
  font-size: 16px;
  font-weight: 300;
}

.blog_item_btn {
  font-family: "Poppins";
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  color: #262626;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #262626;
  transition: all 0.25s ease-out;
}
.blog_item_btn:hover {
  transition: all 0.35s ease;
  color: #fc4f4f;
  border-color: #fc4f4f;
}
