.col-md-4 {
  display: flex;
  margin: 15px 0;
}

.text_service .img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}


.text_service.text_service-2 .text h5 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}

.text_service.text_service-2 .text p {
  padding: 5px 0 0 0 ;
  font-family: "Poppins";
  font-size: 12px;
  color: #777;
  margin: 0;
}

.text_service_toro {
  display: inline-block;
}
